@using Newtonsoft.Json

@{
    ViewData["Title"] = "Home";
}

<div class="searchForm">
    <form>
        <p>
            <input type="text" name="SearchString" id="searchString">
            <input type="button" value="Search" onclick="getAjaxData()" />
        </p>
    </form>
</div>

<div class="list">
</div>

<script>
    var oldText = "";

    function getAjaxData() {
        var text = $("#searchString").val();
        if (oldText === "") {
            oldText = text;
        } else if (oldText != text) {
            $(".list").empty();
        }

        $.getJSON('/Amazon?SearchString=' + text, function (data) {
            $.each(data, function (index, value) {
                var title = value.title;
                var price = value.price;
                $(".list").append("<li>" + (index + 1) + ". " + title + ", " + price + "</li>");
            });
            
            $(".list").append("<input type='button' value='Load More' onclick='loadMore()' />");
        });
    }

    function loadMore() {
        
    }
</script>
