@model Dictionary<string, string>

@{
    ViewData["Title"] = "Home";
}

<div class="body-content">
    <form asp-controller="HomeController" asp-action="Index" method="get">
        <p>
            <input type="text" name="SearchString">
            <input type="submit" value="Search" />
        </p>
    </form>

    @{
        if (Model.Count > 0)
        {
            foreach (var item in Model)
            {
                string key = item.Key;
                string value = item.Value;
                @Html.Raw("<li>" + key + ", " + value + "</li>");
            }
        }
    }

</div>
