@using Newtonsoft.Json

@{
    ViewData["Title"] = "Home";
}

<div class="searchForm">
    <form>
        <p>
            <input type="text" name="SearchString" id="searchString">
            <input type="button" value="Search" onclick="getAjaxData()" />
            Currency:
            <select id='dropdown' onchange='currencyChanged()'>
                <option value='0'>GBP</option>
                <option value='1'>EUR</option>
                <option value='2'>USD</option>
            </select>
        </p>
    </form>
</div>

<div class="list">
</div>

<script>
    var oldText = "";
    var oldCurr = 0;
    var json;

    function getAjaxData() {
        var text = $("#searchString").val();
        if (text == "") {
            return;
        } else if (oldText === "") {
            oldText = text;
        } else if (oldText != text) {
            $(".list").empty();
            oldText = text;
        } else if (text == "") {
            return;
        } else {
            return
        }

        var dropdown = document.getElementById("dropdown");
        dropdown.value = 0;

        $.getJSON('/Amazon?SearchString=' + text + '&oldCurrency=0&newCurrency=0', function (data) {
            $.each(data, function (index, value) {
                var title = value.title;
                var price = value.price;
                $(".list").append("<li>" + (index + 1) + ". " + title + ", " + price + "</li>");
            });

            json = JSON.stringify(data);
            $(".list").append("<input type='button' value='Load More' onclick='loadMore()' />");
        });
    }

    function loadMore() {
        console.log("Should load more results, but don't know Amazon well enough");
    }

    function currencyChanged() {
        var text = $("#searchString").val();
        var newCurr = document.getElementById("dropdown").value;

        $.getJSON('/Amazon/ChangeCurrency?resultString=' + json + '&oldCurrency=' + oldCurr
            + '&newCurrency=' + newCurr, function (data) {

            $(".list").empty();

            $.each(data, function (index, value) {
                var title = value.title;
                var price = value.price;
                $(".list").append("<li>" + (index + 1) + ". " + title + ", " + price + "</li>");
            });
        });

        oldCurr = newCurr;
    }
</script>
