@model Dictionary<string, string>
@using Newtonsoft.Json

@{
    ViewData["Title"] = "Home";
}

<div class="body-content">
    <form>
        <p>
            <input type="text" name="SearchString" id="searchString">
            <input type="button" value="Search" onclick="getAjaxData()" />
        </p>
    </form>
</div>

<script>
    function getAjaxData() {
        var text = $("#searchString").val();
        console.log("getAjaxData called with text " + text);
        $.get('/Amazon?SearchString=' + text,
            function (response) {
                console.log(response);
            }
        )};
</script>
