@using Newtonsoft.Json

@{
    ViewData["Title"] = "Home";
}

<div class="searchForm">
    <form>
        <p>
            <input type="text" name="SearchString" id="searchString">
            <input type="button" value="Search" onclick="getAjaxData()" />
        </p>
    </form>
</div>

<div class="list">
</div>

<script>
    function getAjaxData() {
        var text = $("#searchString").val();
        console.log("getAjaxData called with text " + text);

        $.getJSON('/Amazon?SearchString=' + text, function (data) {
            $.each(data, function (index, value) {

                var title = value.title;
                var price = value.price;
                console.log("title = " + title + ", price = " + price);
                $(".list").append("<li>" + title + ", " + price + "</li>");
            });
        });
    }
</script>
